.resume {
  height: 100%;
}
.timeline {
  display: flex;
  width: 100%;
  padding: 20px;

  &__experience,
  &__education {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__header-text {
      display: inline-block;
      color: var(--yellow-theme-sub-text-color);
      font-size: 22px;
      font-weight: 700;
      line-height: 1rem;
      letter-spacing: 0.5px;
      position: relative;
      text-transform: uppercase;
      padding: 5px 10px;
      border-bottom: 2px solid var(--yellow-theme-main-color);
    }

    &__header-text::before,
    &__header-text::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 5px;
      background-color: var(--yellow-theme-main-color);
      bottom: -1px;
    }

    &__header-text::before {
      left: 0;
    }

    &__header-text::after {
      right: 0;
    }

    &__vertical-timeline-element {
      padding-bottom: 30px;

      &:last-child {
        padding-bottom: 0;
      }
    }
    .vertical-timeline-element-title-wrapper {
      display: flex;
      align-items: center;

      h3,
      h4 {
        font-size: 16px;
        font-weight: 500;
      }

      h4 {
        margin-left: 8px;
      }
    }
    p {
      font-size: 18px;
    }

    .vertical-timeline-element-content {
      box-shadow: none;
    }

    .vertical-timeline-element-date {
      font-size: 14px;

      color: var(--yellow-theme-sub-text-color);
    }
  }
}

@media only screen and (max-width: 768px) {
  .timeline {
    flex-direction: column;

    &__experience,
    &__education {
      width: 100%;
    }
  }
}
