.home {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    h1,
    h2 {
      color: var(--yellow-theme-main-color);
      margin: 0;
      font-weight: 500;
      font-size: 8rem;
      line-height: 10rem;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
    }
    h2 {
      animation: typingEffectAnimation 2.5s steps(30, end);
    }
  }
  &__contact-me {
    display: flex;
    justify-content: center;
    gap: 24px;

    button,
    a {
      cursor: pointer;
      padding: 10px 40px;
      font-size: 2rem;
      font-family: 'Roboto Slab', sans-serif;
      background: transparent;
      color: var(--yellow-theme-main-color);
      border: 1.5px solid var(--yellow-theme-main-color);
      border-radius: 4px;
      font-weight: 400;
      &:hover {
        background-color: var(--yellow-theme-main-color);
        color: var(--yellow-theme-bg-color);
      }
    }

    a {
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 550px) {
  .home__text-wrapper h1 {
    font-size: 3rem;
    line-height: 5rem;
  }
  .home__contact-me {
    button,
    a {
      font-size: 1.5rem;
      padding: 10px 20px;
    }
  }
}
@media only screen and (min-width: 551px) and (max-width: 768px) {
  .home__text-wrapper h1 {
    font-size: 4rem;
    line-height: 6rem;
  }
  .home__contact-me {
    button,
    a {
      padding: 10px 20px;
    }
  }
}
@media only screen and (min-width: 769px) and (max-width: 990px) {
  .home__text-wrapper h1 {
    font-size: 6rem;
    line-height: 8rem;
  }
}

@keyframes typingEffectAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
