.contacts {
  &__content {
    padding: 20px;
    overflow: hidden;

    &__header-text {
      color: var(--yellow-theme-sub-text-color);
      display: inline-block;
      font-size: 22px;
      font-weight: 600;
      line-height: 1rem;
      letter-spacing: 0.5px;
      position: relative;
      text-transform: uppercase;
      padding: 5px 10px;
      border-bottom: 2px solid var(--yellow-theme-main-color);
    }

    &__header-text::before,
    &__header-text::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 5px;
      background-color: var(--yellow-theme-main-color);
      bottom: -1px;
    }

    &__header-text::before {
      left: 0;
    }

    &__header-text::after {
      right: 0;
    }

    &__form {
      margin-top: 30px;

      &__controls-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-bottom: 30px;

        div {
          position: relative;

          input,
          textarea {
            width: 100%;
            border: 2px solid var(--yellow-theme-main-color);
            padding: 16px 12px;
            transition: all 0.5s ease;
            position: relative;
            background-color: transparent;
            color: var(--yellow-theme-sub-text-color);

            &.invalid {
              border: 2px solid red;
            }
          }

          .error {
            font-size: 12px;
            color: var(--yellow-theme-sub-text-color);
            position: absolute;
            bottom: -20px;
          }

          label {
            font-size: 16px;
            font-weight: 500;
            position: absolute;
            top: 7px;
            left: 12px;
            transition: all 0.2s ease;
            color: var(--yellow-theme-sub-text-color);
          }

          input:focus,
          textarea:focus {
            outline: none;
          }

          input:focus + label,
          input:valid + label,
          textarea:focus + label,
          textarea:valid + label {
            font-size: 18px;
            top: -25px;
            left: 0px;
          }
        }
      }
    }

    button {
      cursor: pointer;
      padding: 10px 70px;
      font-size: 2rem;
      font-weight: 500;
      background: transparent;
      color: var(--yellow-theme-main-color);
      border: 1.5px solid var(--yellow-theme-main-color);
      border-radius: 4px;

      &:hover {
        background: var(--yellow-theme-main-color);
        color: var(--yellow-theme-bg-color);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .contacts__content__form {
    text-align: center;

    &__controls-wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
